header {
    background-color: rgb(30, 255, 0);
    height: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#name{
    height:60px;
    width: 40%;

}

nav{
    min-height: 220px;
    width:  60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    

}

.nav-box{
    height: 60px;
    width: 100px ;
}

section h1{
    background-color:purple;
}

@media screen and(max-width: 800px){
    nav{
        display: flex;
        flex-direction: column;
        height: 200px;
    }
}